
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    LAYOUT
    @RenderBody()
</body>
<script src="~/bootstrap-5.3.1/js/dist/modal.js"></script>
<a href="~/bootstrap-5.3.1/js/dist/modal.js.map">~/bootstrap-5.3.1/js/dist/modal.js.map</a>
</html>
